.post-header{
    display:flex;
    justify-content: space-between;
    align-items: top
}
.img1{
    height: 20px;
    height: 20px;
    justify-content: left;
}

.img{
    display: flex;
    border: 10px;
    padding: 20%;
    height: 400px;
    width: 400px;
}
.icons{
    display: flex;
}
.post-body{

}